netty:
  port: ${netty-port:11111}
  heartBeat: ${heart-beat:10}
  timeOut: ${timeOut:5000}
disruptor:
  bufferSize: ${bufferSize:2} #必须是2的整数倍
#etcd的地址，如有多个用逗号分隔
etcd:
  server: ${etcdServer:http://127.0.0.1:2379} #etcd的地址，重要！！！
  workerPath: ${workerPath:default} #该worker放到哪个path下，譬如放/app1下，则该worker只能被app1使用，不会为其他client提供服务
server:
  port: 8080