<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.jd.platform.hotkey.dashboard.mapper.ReceiveCountMapper">
  <resultMap id="BaseResultMap" type="com.jd.platform.hotkey.dashboard.model.ReceiveCount">
      <id column="id" property="id" jdbcType="BIGINT" />
      <result column="worker_name" property="workerName" jdbcType="VARCHAR" />
      <result column="receive_count" property="receiveCount" jdbcType="BIGINT" />
      <result column="hours" property="hours" jdbcType="BIGINT" />
      <result column="minutes" property="minutes" jdbcType="BIGINT" />
      <result column="uuid" property="uuid" jdbcType="VARCHAR" />
      <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List">
    id, receive_count, worker_name, uuid,create_time,hours,minutes
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from hk_receive_count
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from hk_receive_count
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.jd.platform.hotkey.dashboard.model.ReceiveCount" >
        insert into hk_receive_count (id, worker_name, receive_count,
        hours, minutes, uuid, create_time)
        values (#{id,jdbcType=BIGINT}, #{workerName,jdbcType=VARCHAR}, #{receiveCount,jdbcType=BIGINT},
        #{hours,jdbcType=BIGINT}, #{minutes,jdbcType=BIGINT}, #{uuid,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP})
    </insert>



  <select id="list" resultMap="BaseResultMap">
    SELECT
    a.id, a.worker_name , b.receive_count, a.minutes
    FROM
    ( SELECT id, max( receive_count ) receive_count FROM hk_receive_count GROUP BY worker_name, minutes ) b
    JOIN hk_receive_count a ON a.id = b.id
    WHERE 1=1
    <if test="startTime != null">
      <![CDATA[ and create_time >= #{startTime} and create_time < #{endTime}]]>
    </if>
  </select>



</mapper>