<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>项目简介</title>
</head>
<body style="margin: 120px">
<h1>欢迎使用hotkey热点探测</h1>

<hr/>

<h3>热点key探测和推送</h3>

<blockquote><ul><li>无法预先感知的热点数据、热用户、热接口等，进行秒级精准探测到</li><li>推送到所有客户端JVM内存中，大幅减轻对后端数据存储层的冲击</li><li>使用这些热key做本地缓存、拒绝访问、熔断等</li></ul></blockquote>

<hr/>

<h3>gitee 地址：</h3>
<h3><a href="https://gitee.com/jd-platform-opensource/hotkey">https://gitee.com/jd-platform-opensource/hotkey</a></h3>
<hr/>

<h3>架构图：</h3>

<p><img alt="cmd-markdown-logo" src="/static/admin/images/main.png" width="800px" height="550px"/></p>



</body>
</html>